@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ea580c;
  --color-dark: #252432;
  --color-bg: #f5f5f0;
  --color-blue: #6d94c5;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "Manrope", Verdana, Arial, sans-serif;
  background-color: var(--color-bg);
  overflow-x: hidden;
  font-weight: 500;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  min-height: 2800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: var(--color-bg);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}
body.loading::after {
  opacity: 0;
}
body.loaded::after {
  display: none;
}

main {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding-top: 5.25rem;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

::-webkit-file-upload-button {
  cursor: pointer;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

svg {
  fill: currentColor;
}

ul, ol {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul li, ol li {
  list-style: none;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  border-style: none;
}
img.lazy {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
img.lazy[data-ll-status=loaded] {
  opacity: 1;
}
img.swiper-lazy {
  opacity: 0;
}
img.swiper-lazy.swiper-lazy-loaded {
  opacity: 1;
}

input[disabled], textarea[disabled] {
  pointer-events: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button, input { /* 1 */
  overflow: visible;
  background-color: transparent;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  outline: none;
}

button, select { /* 1 */
  text-transform: none;
  cursor: pointer;
  padding: 0;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted buttonText;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-bg-main) !important;
}

textarea:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-bg-main) !important;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*::-webkit-search-cancel-button {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  display: block;
  width: 100%;
}
.logo--header {
  max-width: 5.625rem;
}
.logo img {
  width: 100%;
  height: auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  border: 0.0625rem solid transparent;
  gap: 0.75rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--type-1 {
  font: 500 1rem/1 "Manrope", Verdana, Arial, sans-serif;
  border-radius: 0.625rem;
  padding: 0 1rem;
  height: 3.125rem;
}
.button--type-2 {
  font: 600 0.75rem/1 "Manrope", Verdana, Arial, sans-serif;
  border-radius: 0.625rem;
  padding: 0 1.25rem;
  height: 2.125rem;
}
.button--type-3 {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.5rem;
}
.button--type-3 svg, .button--type-3 img {
  width: auto;
  height: auto;
  max-width: 80%;
}
.button--type-3.js-next-swiper svg, .button--type-3.js-next-swiper img {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}
.button--type-4 {
  gap: 0.5rem;
  font: 600 0.875rem/1 "Manrope", Verdana, Arial, sans-serif;
  border-radius: 0.625rem;
  padding: 0 1.625rem;
  height: 2.4375rem;
}
.button--type-5 {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.375rem;
}
.button--type-5 svg, .button--type-5 img {
  width: auto;
  height: auto;
  max-width: 80%;
}
.button--type-5.js-next-swiper svg, .button--type-5.js-next-swiper img {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}
.button--type-6 {
  font: 500 1rem/1 "Manrope Semi", Verdana, Arial, sans-serif;
  border-radius: 0.625rem;
  padding: 0 1rem;
  height: 3.5rem;
}
.button--type-7 {
  font: 500 1rem/1 "Manrope Semi", Verdana, Arial, sans-serif;
  border-radius: 0.625rem;
  padding: 0 1rem;
  height: 3.875rem;
}
.button--border-gray {
  color: var(--color-dark-main);
  border-color: var(--color-gray-sec);
}
.desktop-device .button--border-gray:hover {
  background-color: var(--color-dark-main);
  border-color: transparent;
  color: var(--color-white);
}
.button--yellow-bg {
  color: var(--color-dark-main);
  background-color: var(--color-yellow-main);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}
.desktop-device .button--yellow-bg:hover {
  background-color: var(--color-dark-main);
  color: var(--color-white);
}
.button--green-bg {
  color: var(--color-white);
  background-color: var(--color-green-main);
}
.desktop-device .button--green-bg:hover {
  background-color: var(--color-yellow-main);
  color: var(--color-dark-main);
}
.button--white-bg {
  color: var(--color-dark-main);
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}
.desktop-device .button--white-bg:hover {
  background-color: var(--color-dark-main);
  color: var(--color-white);
}
.button--white-bg-y {
  color: var(--color-dark-main);
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}
.desktop-device .button--white-bg-y:hover {
  background-color: var(--color-yellow-main);
  color: var(--color-dark-main);
}
.button--bg-empty {
  color: var(--color-dark-main);
}
.desktop-device .button--bg-empty:hover {
  color: var(--color-green-main);
}
.button--buy svg {
  -webkit-transition: opacity 0.15s ease-in, -webkit-transform 0.15s ease-in;
  transition: opacity 0.15s ease-in, -webkit-transform 0.15s ease-in;
  transition: opacity 0.15s ease-in, transform 0.15s ease-in;
  transition: opacity 0.15s ease-in, transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}
.button--buy svg:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.button--buy.in-cart {
  background-color: #3d9136;
}
.button--buy.in-cart svg:first-child {
  opacity: 0;
}
.button--buy.in-cart svg:last-child {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.button.swiper-lock {
  opacity: 0.7;
  background-color: #d9d9d9;
  pointer-events: none;
}
.button.swiper-button-lock {
  display: none;
}

.icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
.icon-btn__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 0.625rem/1 "Manrope", Verdana, Arial, sans-serif;
  border-radius: 3.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
  padding: 0 0.0625rem 0 0.125rem;
  position: absolute;
  top: -0.125rem;
  right: -0.5rem;
  background-color: var(--color-dark-main);
  color: var(--color-white);
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}
.icon-btn svg, .icon-btn img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.icon-btn--white {
  color: var(--color-white);
}
.desktop-device .icon-btn--white:hover {
  color: var(--color-yellow-main);
}
.icon-btn--sec {
  width: auto;
  height: auto;
  gap: 0.3125rem;
}
.icon-btn--sec .icon-btn__count {
  position: relative;
  top: 0;
  right: 0;
  background-color: transparent;
  color: var(--color-white);
  font-size: 0.875rem;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s ease-in-in;
  transition: 0.15s ease-in-in;
  -webkit-transition-property: color;
  transition-property: color;
}
.link__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
}
.link:has(.label) {
  gap: 0.75rem;
}
.link[type=button] {
  text-align: left;
}
.link--smaller {
  font: 400 0.75rem/1 "Manrope", Verdana, Arial, sans-serif;
}
.link--small {
  font: 400 0.8125rem/1 "Manrope", Verdana, Arial, sans-serif;
}
.link--mini {
  font: 400 0.875rem/1.25 "Manrope", Verdana, Arial, sans-serif;
  gap: 0.9375rem;
}
.link--middle {
  font: 400 0.9375rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
.link--default {
  font: 400 1rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
.link--big {
  font: 400 1.25rem/1 "Manrope", Verdana, Arial, sans-serif;
}
.link--icon {
  gap: 0.5rem;
}
.link--icon svg {
  max-width: 1.5rem;
  width: auto;
  height: auto;
}
.link--icon span {
  margin: -0.0625rem 0 0;
}
.link--white {
  color: var(--color-white);
}
.desktop-device .link--white[href]:hover, .link--white[type=button]:hover {
  color: var(--color-green-main);
}
.link--white-sec {
  color: var(--color-white);
}
.desktop-device .link--white-sec[href]:hover, .desktop-device .link--white-sec[type=button]:hover {
  color: var(--color-yellow-main);
}
.link--dark {
  color: var(--color-dark-main);
}
.desktop-device .link--dark[href]:hover, .desktop-device .link--dark[type=button]:hover {
  color: var(--color-green-main);
}
.link--green {
  color: var(--color-green-main);
}
.desktop-device .link--green[href]:hover, .desktop-device .link--green[type=button]:hover {
  color: var(--color-yellow-main);
}
.link--gray {
  color: var(--color-gray);
}
.desktop-device .link--gray[href]:hover, .desktop-device .link--gray[type=button]:hover {
  color: var(--color-green-main);
}
.link--bold {
  font-weight: 500;
}
.link--tu {
  text-decoration: underline;
}
.desktop-device .link--tu:hover {
  text-decoration: none;
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}
.soc-link svg {
  width: 100%;
  height: 100%;
}
.title {
  position: relative;
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.title--big {
  font: 300 1.875rem/1.1 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 768px) {
  .title--big {
    font-size: 2.0625rem;
  }
}
@media (min-width: 1280px) {
  .title--big {
    font-size: 2.5rem;
  }
}
.title--big-sec {
  font: 300 1.4375rem/1.1 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 430px) {
  .title--big-sec {
    font: 300 1.875rem/1.1 "Manrope", Verdana, Arial, sans-serif;
  }
}
@media (min-width: 768px) {
  .title--big-sec {
    font-size: 2.0625rem;
  }
}
@media (min-width: 1280px) {
  .title--big-sec {
    font-size: 2.5rem;
  }
}
.title--mini {
  font: 500 0.75rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
.title--def {
  font: 500 1rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 640px) {
  .title--def {
    font-size: 1.125rem;
  }
}
.title--def-always {
  font: 500 1.125rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
.title--type-2 {
  font: 500 1.125rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 1280px) {
  .title--type-2 {
    font-size: 1.375rem;
  }
}
.title--type-3 {
  font: 500 1.5625rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 1280px) {
  .title--type-3 {
    font-size: 1.75rem;
  }
}
.title--type-4 {
  font: 500 1.125rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 1280px) {
  .title--type-4 {
    font-size: 1.25rem;
  }
}
.title--type-5 {
  font: 500 1rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
.title--type-6 {
  font: 500 1.125rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 768px) {
  .title--type-6 {
    font-size: 1.3125rem;
  }
}
@media (min-width: 1280px) {
  .title--type-6 {
    font-size: 1.5rem;
  }
}
.title--type-7 {
  font: 500 1rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 768px) {
  .title--type-7 {
    font-size: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .title--type-7 {
    font-size: 1.6875rem;
  }
}
.title--type-8 {
  font: 500 1.4375rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 768px) {
  .title--type-8 {
    font-size: 1.625rem;
  }
}
@media (min-width: 1280px) {
  .title--type-8 {
    font-size: 1.875rem;
  }
}
.title--type-9 {
  font: 500 1.25rem/1.2 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 768px) {
  .title--type-9 {
    font-size: 1.3125rem;
  }
}
@media (min-width: 1280px) {
  .title--type-9 {
    font-size: 1.5rem;
  }
}
.title--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: relative;
  padding: 0 0 0.875rem;
}
.title--line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 5rem;
  height: 0.125rem;
  background-color: #bce3c9;
}
.title--ttu {
  text-transform: uppercase;
}
.title--light-sec {
  font-weight: 400;
}
.title--medium {
  font-weight: 500;
}

.simple-text {
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
.simple-text--def {
  font: 400 0.875rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 1200px) {
  .simple-text--def {
    font-size: 1rem;
  }
}
.simple-text--mini {
  font: 400 0.875rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
.simple-text--mini-sec {
  font: 400 1rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
@media (min-width: 992px) {
  .simple-text--mini-sec {
    font-size: 0.875rem;
  }
}
.simple-text--small {
  font: 400 0.8125rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
.simple-text--smaller {
  font: 400 0.75rem/1.25 "Manrope", Verdana, Arial, sans-serif;
}
.simple-text--light {
  font-weight: 200;
}
.simple-text--medium {
  font-weight: 500;
}
.simple-text--ttu {
  text-transform: uppercase;
}
.simple-text strong {
  font-weight: 500;
}
.simple-text a {
  font: inherit;
  font-family: "Manrope Semi", Verdana, Arial, sans-serif;
  color: var(--color-green-main);
  border-bottom: 0.0625rem solid var(--color-green-main);
}
.desktop-device .simple-text a:hover {
  border-color: transparent;
  color: var(--color-yellow-main);
}
.simple-text a:has(svg) {
  border: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding: 3.75rem 0;
}

.modal__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.black-top {
  width: 100%;
  background-color: var(--color-dark-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem 1.125rem;
  gap: 1.625rem;
  position: sticky;
  top: -0.0625rem;
  z-index: 2;
}
@media (min-width: 1200px) {
  .black-top {
    padding: 1.125rem 1.875rem;
  }
}
.black-top__icon {
  width: 0.875rem;
  height: 0.875rem;
}
.black-top__icon img {
  width: 100%;
  height: 100%;
}
.black-top .title {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.black-top .close-btn {
  margin-left: auto;
}

.popup-block {
  width: calc(100% - 2rem);
  pointer-events: all;
  max-width: 49.375rem;
  background-color: var(--color-white);
  position: relative;
}
.popup-block .close-btn {
  position: absolute;
  top: -1.25rem;
  right: -0.75rem;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .popup-block .close-btn {
    top: -0.75rem;
    right: -2.3125rem;
  }
}
.popup-block--type-1 {
  max-width: 37.875rem;
  border-radius: 0.9375rem;
  padding: 1.5rem 0.625rem 0.75rem;
}
@media (min-width: 640px) {
  .popup-block--type-1 {
    padding: 1.5rem 1.6875rem;
  }
}
.popup-block--type-2 {
  max-width: 32.5rem;
  border-radius: 0.9375rem;
  padding: 1.5rem 0.625rem 0.75rem;
}
@media (min-width: 640px) {
  .popup-block--type-2 {
    padding: 1.5rem 1.6875rem;
  }
}

@media (min-width: 640px) {
  .cart-block {
    padding: 0 0 1.875rem;
  }
}
.cart-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0.6875rem 0 1.75rem;
}
@media (min-width: 640px) {
  .cart-block__top {
    margin: 1.75rem 0 1.625rem;
  }
}
.cart-block__list {
  width: 100%;
  overflow: auto;
  max-height: 22.9375rem;
  position: relative;
}
@media (min-width: 640px) {
  .cart-block__list {
    max-width: 33.125rem;
    max-height: 23.9375rem;
    padding: 0 2.3125rem 0 0;
  }
}
.cart-block__list .mini-card:first-child {
  border-top: 0.0625rem solid var(--color-gray-sec);
}
.cart-block__list .mini-card + .mini-card {
  margin: 0.3125rem 0 0;
}
.cart-block__list::-webkit-scrollbar-track {
  background-color: var(--color-gray-sec);
  border-radius: 1.25rem;
  width: 0.0625rem;
  height: 0.0625rem;
}
.cart-block__list::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: transparent;
  border-radius: 1.25rem;
}
.cart-block__list::-webkit-scrollbar-thumb {
  width: 0.25rem;
  background-color: var(--color-dark-main);
  border-radius: 1.25rem;
}
.cart-block .total-block {
  margin: 0.4375rem 0 0;
  gap: 1.375rem;
}
@media (max-width: 639px) {
  .cart-block .total-block {
    margin: 1.375rem 0 0;
    gap: 0.875rem;
  }
  .cart-block .total-block .title {
    font-size: 0.875rem;
  }
}
.cart-block__bottom {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1.875rem 0 0;
}
@media (min-width: 575px) {
  .cart-block__bottom {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1.5625rem 0 0;
    margin: 2.5rem 0 0;
  }
}
@media (max-width: 639px) {
  .cart-block__bottom .button {
    min-height: 3.875rem;
  }
  .cart-block__bottom .button:last-child {
    font-size: 0.875rem;
  }
}

.login-block {
  margin: 0.6875rem auto 0;
  max-width: 25.75rem;
}
@media (min-width: 768px) {
  .login-block {
    margin: 1.6875rem auto 0;
  }
}
.login-block__top {
  text-align: center;
}
.login-block .default-form {
  margin: 1.6875rem auto 0;
}
.login-block .default-form .input-item + .input-item {
  margin: 0.8125rem 0 0;
}
.login-block .default-form .button {
  width: 100%;
}
.login-block .default-form .simple-checker {
  margin: 1.5rem 0 0;
}
.login-block .default-form .simple-checker__body {
  gap: 0.75rem;
}

.login-bottom {
  margin: 1.8125rem 0 0;
}
.login-bottom__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 7.5rem;
  gap: 0.625rem;
  padding: 1rem 0;
  border-top: 0.0625rem solid var(--color-gray-sec);
  border-bottom: 0.0625rem solid var(--color-gray-sec);
}
.login-bottom__top .simple-text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.login-bottom__top .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 479px) {
  .login-bottom__top .button {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .login-bottom__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}
.login-bottom__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.0625rem 0 1.6875rem;
}

.container {
  width: 100%;
  max-width: 93.375rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-bold {
  font-family: "Manrope Semi", Verdana, Arial, sans-serif;
  font-weight: bold;
}

.text-bolder {
  font-weight: bold;
}

.text-medium {
  font-weight: 500;
}

.text-middle {
  font-weight: 400;
}

.text-tiny {
  font-weight: 300;
}

.text-ttu {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold_1.woff2") format("woff2"), url("../fonts/Manrope-Bold_1.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope Semi";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}