<!-- статичний попап корзини -->
<div id="basket" class="modal micromodal-slide" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="popup-block popup-block--type-1 modal__container" role="dialog" aria-modal="true" aria-labelledby="basket-title">
			<button class="close-btn" data-micromodal-close>
				<svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.345974 1.08371C0.155024 0.884225 0.155024 0.560802 0.345974 0.361321C0.536924 0.16184 0.846515 0.16184 1.03746 0.361321L23.0538 23.3612C23.2447 23.5607 23.2447 23.8842 23.0538 24.0836C22.8628 24.2831 22.5532 24.2831 22.3623 24.0836L0.345974 1.08371Z"/>
					<path d="M2.02078 24.0838C1.82983 24.2833 1.52024 24.2833 1.32929 24.0838C1.13834 23.8843 1.13834 23.5609 1.32929 23.3614L23.3456 0.361464C23.5365 0.161982 23.8461 0.161982 24.0371 0.361464C24.228 0.560945 24.228 0.884368 24.0371 1.08385L2.02078 24.0838Z"/>
				</svg>
			</button>
			<div class="cart-block"></div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__left">
				<a href="#!" class="logo logo--footer">
					<img src="images/icons/logo.svg" alt="logo" width="90" height="30">
				</a>
				<div class="simple-text simple-text--type-3 color-dark-th lt-14 text-bold">
					Виводимо бренди <br>
					у відповіді AI‑платформ
				</div>
				<ul class="locale-block">
					<li>
						<img src="images/empty.gif" data-src="images/icons/globe2.svg" alt="" width="20" height="20" class="lazy">
					</li>
					<li>UK</li>
					<li>RU</li>
					<li>EN</li>
					<li>KK</li>
					<li>UZ</li>
				</ul>
			</div>
			<div class="footer__right">
				<div class="footer__col">
					<h6 class="simple-text simple-text--type-6 color-gray-th text-ttu text-bold">головне</h6>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">Медіа-простір</a>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">Аудит</a>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">Портфоліо</a>
				</div>
				<div class="footer__col">
					<h6 class="simple-text simple-text--type-6 color-gray-th text-ttu text-bold">Послуги</h6>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">Стратегія виходу на ринку</a>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">Розробка автономних AI-агентів</a>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">Розробка web-сайтів під ключ</a>
				</div>
				<div class="footer__col" itemscope itemtype="https://schema.org/PostalAddress">
					<h6 class="simple-text simple-text--type-6 color-gray-th text-ttu text-bold">КОНТАКТИ</h6>
					<a href="#!" target="_blank" class="link link--type-6 link--dark-sec lt-14">
						<span class="link__icon">
							<img src="images/empty.gif" data-src="images/icons/point.svg" alt="" width="20" height="20" class="lazy">
						</span>
						<span>
							<span itemprop="addressCountry">Україна</span>,
							<span itemprop="addressLocality">Київ</span>,
							<span itemprop="streetAddress">Глушкова, 1</span>
						</span>
					</a>
					<a href="mailto:office@f-47.io" itemprop="email" class="link link--type-6 link--dark-sec lt-14">
						<span class="link__icon">
							<img src="images/empty.gif" data-src="images/icons/dog.svg" alt="" width="20" height="20" class="lazy">
						</span>
						<span>office@f-47.io</span>
					</a>
					<a href="tel:+380504106865" itemprop="telephone" class="link link--type-6 link--dark-sec lt-14">
						<span class="link__icon">
							<img src="images/empty.gif" data-src="images/icons/tel.svg" alt="" width="20" height="20" class="lazy">
						</span>
						<span>+38 050 41 06 865</span>
					</a>
				</div>
				<div class="footer__col footer__col--spacer">
					<!-- fake title -->
					<a href="#!" target="_blank" class="link link--type-6 link--dark-sec lt-14">
						<span>Linkedin</span>
						<span class="link__icon link__icon--small">
							<img src="images/empty.gif" data-src="images/icons/link3.svg" alt="" width="12" height="12" class="lazy">
						</span>
					</a>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">
						<span>Reddit</span>
						<span class="link__icon link__icon--small">
							<img src="images/empty.gif" data-src="images/icons/link3.svg" alt="" width="12" height="12" class="lazy">
						</span>
					</a>
					<a href="#!" class="link link--type-6 link--dark-sec lt-14">
						<span>Telegram</span>
						<span class="link__icon link__icon--small">
							<img src="images/empty.gif" data-src="images/icons/link3.svg" alt="" width="12" height="12" class="lazy">
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__links">
				<a href="#!" class="link link--type-7 link--dark">Умови надання послуг</a>
				<a href="#!" class="link link--type-7 link--dark">Політика конфіденційності</a>
				<a href="#!" class="link link--type-7 link--dark">Управління файлами cookie</a>
			</div>
			<div class="footer__pics">
				<img src="images/empty.gif" data-src="images/icons/revs.svg" alt="" width="111" height="40" class="lazy">
				<img src="images/empty.gif" data-src="images/icons/revs2.svg" alt="" width="230" height="40" class="lazy">
			</div>
			<div class="copy-footer">
				<span>F-47</span>
				<span class="copy-footer__dot">•</span>
				<span>2026</span>
				<span class="copy-footer__dot">•</span>
				<span>Всі права захищені</span>
			</div>
		</div>
	</div>
</footer>
