@import "../abstracts/functions";
@import "../abstracts/vars";

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	border: get-rem(1) solid transparent;
	gap: get-rem(12);
	transition: 0.2s linear;
	transition-property: background-color, color, border-color;

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&--type-1 {
		font: 400 #{get-rem(14)}/1 $mainFont;
		border-radius: get-rem(40);
		padding: 0 get-rem(20) get-rem(2);
		height: get-rem(36);

		@media(min-width: 1280px) {
			padding: 0 get-rem(40) get-rem(2);
		}
	}

	&--type-2 {
		font: 400 #{get-rem(14)}/1 $mainFont;
		border-radius: get-rem(40);
		padding: 0 get-rem(40) get-rem(2);
		height: get-rem(36);

		@media(max-width: 1279px) {
			padding: 0 get-rem(20) get-rem(2);
		}

		@media(max-width: 991px) {
			padding: 0;
			width: get-rem(36);
			height: get-rem(36);
			border-radius: 100%;
			color: var(--color-white);
			transition: background-color 0.15s ease-in;

			svg, img {
				max-width: 64%;
				width: auto;
				height: auto;
			}

			span {
				display: none;
			}
		}

		svg, img {

			@media(min-width: 992px) {
				display: none;
			}
		}
	}

	&--dark-bg {
		color: var(--color-white);
		background-color: var(--color-dark);

		.desktop-device & {
		    &:hover {
			    border-color: var(--color-black);
			    background-color: var(--color-bg);
			    color: var(--color-black);
		    }
		}
	}
}

.icon-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: get-rem(36);
	height: get-rem(36);
	border: get-rem(1) solid transparent;
	border-radius: 100%;
	transition: background-color 0.15s ease-in, border-color 0.15s ease-in;

	svg, img {
		max-width: 64%;
		width: auto;
		height: auto;
	}

	&--type-1 {
		background-color: var(--color-light);
		color: var(--color-dark);

		.desktop-device & {
			&:hover {
				background-color: var(--color-dark);
				color: var(--color-white);
			}
		}
	}
}
