@import "../abstracts/functions";
@import "../abstracts/vars";

.link {
	display: flex;
	align-items: center;
	transition: color 0.15s ease-in;
	transition-property: color;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: get-rem(20);
		height: get-rem(20);

		svg, img {
			width: 100%;
			height: 100%;
		}

		&--small {
			width: get-rem(12);
			height: get-rem(12);
		}
	}

	&--type-1 {
		font: 600 #{get-rem(14)}/1 $mainFontBold;
	}

	&--type-2 {
		font: 600 #{get-rem(12)}/1 $mainFontUbuntuSemi;
	}

	&--type-3 {
		font: 600 #{get-rem(14)}/1 $mainFontBold;
		gap: get-rem(14);

		@media(min-width: 360px) {
		    font-size: get-rem(16);
		}

		@media(min-width: 1200px) {
		    font-size: get-rem(18);
		}

	}

	&--type-4 {
		font: 600 #{get-rem(16)}/1.4 $mainFontBold;
		gap: get-rem(14);

		@media(min-width: 1200px) {
			font-size: get-rem(19);
		}

	}

	&--type-5 {
		font: 600 #{get-rem(14)}/1 $mainFontBold;
		gap: get-rem(14);

		@media(min-width: 768px) {
			font-size: get-rem(16);
		}

	}

	&--type-6 {
		font: 600 #{get-rem(16)}/1 $mainFontBold;
		gap: get-rem(8);

		&:has(.link__icon--small) {
			gap: get-rem(4);
		}
	}

	&--type-7 {
		font: 500 #{get-rem(12)}/1 $mainFont;
	}

	&--gray {
		color: var(--color-gray);

		&.is-active {
			color: var(--color-dark);
		}

		.desktop-device & {
		    &:hover {
			    color: var(--color-dark);
		    }
		}
	}

	&--gray-2 {
		color: rgba(#fff, 0.7);

		.desktop-device & {
			&:hover {
				color: var(--color-white);
			}
		}
	}

	&--dark {
		color: var(--color-dark);

		.desktop-device & {
		    &:hover {
			    color: var(--color-blue);
		    }
		}
	}

	&--dark-sec {
		color: var(--color-dark-th);

		.desktop-device & {
			&:hover {
				color: var(--color-blue);
			}
		}
	}
}
