@import "../abstracts/functions";
@import "../abstracts/vars";

.link {
	display: flex;
	align-items: center;
	transition: color 0.15s ease-in;
	transition-property: color;

	&--type-1 {
		font: 600 #{get-rem(14)}/1 $mainFontBold;
	}

	&--type-2 {
		font: 600 #{get-rem(12)}/1 $mainFontUbuntuSemi;
	}

	&--gray {
		color: var(--color-gray);

		&.is-active {
			color: var(--color-dark);
		}

		.desktop-device & {
		    &:hover {
			    color: var(--color-dark);
		    }
		}
	}

	&--gray-2 {
		color: rgba(#fff, 0.7);

		.desktop-device & {
			&:hover {
				color: var(--color-white);
			}
		}
	}
}
