@import "../abstracts/functions";
@import "../abstracts/vars";

.section {

	&--breadcrumbs {
		padding: clamp(#{get-rem(16)}, #{get-vw(43)}, #{get-rem(43)}) 0;
	}

	&--hero {
		padding: 0 0 clamp(#{get-rem(80)}, #{get-vw(186)}, #{get-rem(186)});
		position: relative;

		.big-title {
			width: 100%;
			white-space: nowrap;
			position: absolute;
			top: 50%;
			left: 100%;
			z-index: 1;
			font: 500 clamp(#{get-rem(40)}, #{get-vw(190)}, #{get-rem(190)})/1 $mainFont;
			color: var(--color-dark);

			@media(max-width: 1279px) {
				display: none;
			}
		}

		.container {
			position: relative;
			z-index: 2;
		}
	}

	&--quality {
		margin: 0 0 clamp(#{get-rem(0)}, #{get-vw(160)}, #{get-rem(160)});
		position: relative;

		.bg-pic {
			width: 100%;
			max-width: clamp(#{get-rem(310)}, #{get-vw(793)}, #{get-rem(793)});
			position: absolute;
			top: 74%;
			right: 3.5%;
			z-index: 1;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&--about {
		position: relative;
		z-index: 2;
		margin: 0 0 clamp(#{get-rem(80)}, #{get-vw(384)}, #{get-rem(384)});

		@media(max-width: 1199px) {
			margin-top: get-rem(-40);
		}
	}

	&--how-work {
		margin: 0 0 clamp(#{get-rem(140)}, #{get-vw(128)}, #{get-rem(128)});

		@media(max-width: 767px) {
			margin: 0 0 get-rem(80);
		}
	}

	&--blockquote {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(185)}, #{get-rem(185)});
	}

	&--media-center {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(128)}, #{get-rem(128)});
	}

	&--price-section {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(192)}, #{get-rem(192)});
	}

	&--faq {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(192)}, #{get-rem(192)});
	}

	&--step-form {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(182)}, #{get-rem(182)});
	}

	&--reviews-section {
		position: relative;
		padding: get-rem(9) 0 0;
		margin: get-rem(-9) 0 clamp(#{get-rem(80)}, #{get-vw(192)}, #{get-rem(192)});

		.bg-pic {
			width: 100%;
			max-width: clamp(#{get-rem(310)}, #{get-vw(700)}, #{get-rem(700)});
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&--seo {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(222)}, #{get-rem(222)});
	}

	&--type-gap-1 {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(195)}, #{get-rem(195)});
	}

	&--type-gap-2 {
		margin: 0 0 clamp(#{get-rem(60)}, #{get-vw(116)}, #{get-rem(116)});
	}
}

.section-bottom {
	background-color: var(--color-light);
	border-radius: clamp(#{get-rem(24)}, #{get-vw(128)}, #{get-rem(128)});
	padding: clamp(#{get-rem(40)}, #{get-vw(191)}, #{get-rem(191)}) 0 0;
}
