@import "../abstracts/functions";
@import "../abstracts/vars";

.section {

	&--hero {
		margin: 0 0 clamp(#{get-rem(80)}, #{get-vw(186)}, #{get-rem(186)});
	}

	&--quality {
		margin: 0 0 clamp(#{get-rem(0)}, #{get-vw(160)}, #{get-rem(160)});
	}

	&--about {
		margin: 0 0 clamp(#{get-rem(80)}, #{get-vw(186)}, #{get-rem(186)});

		@media(max-width: 1199px) {
			margin-top: get-rem(-20);
		}
	}
}
