@import "../abstracts/functions";
@import "../abstracts/vars";

.title {
	position: relative;
	transition: color 0.15s ease;

	&--type-1 {
		font: 400 clamp(#{get-rem(30)}, calc(#{get-rem(12.33)} + 5.21vw), #{get-rem(80)})/1.1 $mainFont;
		word-spacing: 0.2em;

		@media(max-width: 575px) {
			font-size: 9vw;
		}

		img {
			display: inline;
			max-width: 0.7em;
			height: auto;
			margin: 0 -0.075em -0.0375em -0.0875em;
		}
	}

	&--type-3 {
		font: 400 #{get-rem(24)}/1.2 $mainFont;

		@media(min-width: 768px) {
			font-size: get-rem(28);
		}

		@media(min-width: 1280px) {
			font-size: get-rem(32);
		}
	}
}

.simple-text {
	transition: color 0.15s ease-in;

	&--type-1 {
		font: 400 #{get-rem(14)}/1.5 $mainFont;

		@media(min-width: 1200px) {
		    font-size: get-rem(16);
		}
	}

	&--type-2 {
		font: 400 #{get-rem(16)}/1.4 $mainFont;

		@media(min-width: 1200px) {
			font-size: get-rem(18);
		}
	}

	a {
		font: inherit;
		font-family: $mainFontBold;
		color: var(--color-green-main);
		border-bottom: get-rem(1) solid var(--color-green-main);

		.desktop-device & {
		    &:hover {
		        border-color: transparent;
			    color: var(--color-yellow-main);
		    }
		}

		&:has(svg) {
			border: none;
		}
	}
}
