@import "../abstracts/functions";
@import "../abstracts/vars";

.title {
	position: relative;
	transition: color 0.15s ease;

	&--type-1 {
		font: 400 #{get-rem(30)}/1.1 $mainFont;
		word-spacing: 0.2em;

		@media(min-width: 480px) {
			font-size: get-rem(40);
		}

		@media(min-width: 768px) {
			font-size: get-rem(60);
		}

		@media(min-width: 1280px) {
		    font-size: get-rem(80);
		}

		img {
			display: inline;
			max-width: get-rem(56);
			height: auto;
			margin: 0 get-rem(-6) get-rem(-3) get-rem(-7);
		}
	}

}

.simple-text {
	transition: color 0.15s ease-in;

	&--def {
		font: 400 #{get-rem(14)}/1.25 $mainFont;

		@media(min-width: 1200px) {
		    font-size: get-rem(16);
		}
	}

	&--mini {
		font: 400 #{get-rem(14)}/1.25 $mainFont;
	}

	&--mini-sec {
		font: 400 #{get-rem(16)}/1.25 $mainFont;

		@media(min-width: 992px) {
			font-size: get-rem(14);
		}
	}

	&--small {
		font: 400 #{get-rem(13)}/1.25 $mainFont;
	}

	&--smaller {
		font: 400 #{get-rem(12)}/1.25 $mainFont;
	}

	&--light {
		font-weight: 200;
	}

	&--medium {
		font-weight: 500;
	}

	&--ttu {
		text-transform: uppercase;
	}

	strong {
		font-weight: 500;
	}

	a {
		font: inherit;
		font-family: $mainFontBold;
		color: var(--color-green-main);
		border-bottom: get-rem(1) solid var(--color-green-main);

		.desktop-device & {
		    &:hover {
		        border-color: transparent;
			    color: var(--color-yellow-main);
		    }
		}

		&:has(svg) {
			border: none;
		}
	}
}
