<section class="section section--about" aria-labelledby="about-title">
	<div class="container">
		<div class="about-section">
			<div class="about-section__left">
				<div class="about-section__top js-show-on-scroll" data-direction="bottom" data-y="30" data-off-animate="1280">
					<h3 id="about-title" class="title title--type-7 color-dark">Перше моно агентство з AI-видимості в Україні</h3>
					<p class="simple-text simple-text--type-1 color-dark lh-15">GEO-агентство з чіткою спеціалізацією на AI-маркетингу </p>
				</div>
				<ul class="check-list">
					<li class="check-list__item js-show-on-scroll" data-direction="bottom" data-y="30" data-off-animate="1280" data-delay="0.15">
						F-47 допомагає брендам ставати видимими, зрозумілими та рекомендованими у відповідях ChatGPT, Perplexity, Gemini, Claude та Google AI
					</li>
					<li class="check-list__item js-show-on-scroll" data-direction="bottom" data-y="30" data-off-animate="1280" data-delay="0.3">
						Ми працюємо з B2B-компаніями, SaaS- і IT-продуктами, eCommerce-проєктами, експертними сервісами та стартапами, для яких важливо бути помітними в момент, коли клієнт шукає рішення в AI
					</li>
					<li class="check-list__item js-show-on-scroll" data-direction="bottom" data-y="30" data-off-animate="1280" data-delay="0.45">
						Для стартапів ми також розробляємо <span>GTM-стратегії,</span> <span>вебсайти</span> та автоматизуємо бізнес-процеси за допомогою <span>автономних AI-агентів</span>
					</li>
				</ul>
			</div>
			<div class="about-section__pic js-show-on-scroll" data-direction="top" data-y="30" data-off-animate="1280" data-delay="0.25">
				<img src="images/empty.gif" data-src="images/pics/after-before.webp" alt="Порівняння AI-видимості бренду до і після GEO просування" width="863" height="810" class="lazy">
			</div>
		</div>
	</div>
</section>
