<div class="section section--blockquote">
	<div class="container">
		<div class="blockquote-block js-show-on-scroll"
			data-direction="bottom"
			data-y="50"
			data-off-animate="1280"
			data-duration="0.7"
		>
			<div class="blockquote-block__left">
				<blockquote>
					Ми дивимось на GEO/AEO як на систему, а не як на окрему SEO-послугу. Щоб AI рекомендував бренд, він має чітко розуміти його експертизу, бачити якісний контент і знаходити підтвердження в зовнішніх джерелах.
				</blockquote>
				<div class="name-block simple-text simple-text--type-7 color-dark lh-15 lt-2">
					<div class="text-bolder">Микита Мороз</div>
					<div>CEO F-47</div>
				</div>
			</div>
			<div class="blockquote-block__pic">
				<img src="images/empty.gif" data-src="images/pics/man.webp" aria-label="hidden" alt="man.webp" width="275" height="418" class="lazy">
			</div>
		</div>
	</div>
</div>
