<section class="section section--hero" aria-labelledby="hero-title">
	<div class="container">
		<div class="hero-block">
			<div class="hero-block__top">
				<h1 id="hero-title" class="title title--type-1 color-dark text-center">
					Виводимо
					<img src="images/icons/text-pic1.svg" alt="" aria-hidden="true" width="56" height="56">
					бренди <br> у відповіді AI‑платформ
					<img src="images/icons/text-pic2.svg" alt="" aria-hidden="true" width="56" height="56">
				</h1>
				<p class="simple-text simple-text--type-1 color-dark text-center">
					Допомагаємо брендам отримувати цільовий трафік і кваліфіковані звернення з відповідей нейромереж <strong>через системну GEO/AEO-оптимізацію</strong>
				</p>
			</div>
			<div class="hero-block__boards">
				<form class="form-board js-validate-form">
					<h3 class="title title--type-3 color-dark text-bolder">Безкоштовний аудит видимості в AI</h3>
					<p class="simple-text simple-text--type-2 color-dark">
						Реальний тест видимості вашої компанії в AI-платформах на фоні конкурентів із чітким планом дій.
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
