<section class="section section--media-center js-anchor-block" id="media-section" aria-labelledby="media-title">
	<div class="container">
		<div class="media-center" data-tabs>
			<div class="media-center__top text-center js-show-on-scroll"
				data-direction="bottom"
				data-y="50"
				data-off-animate="1280"
				data-duration="0.5"
			>
				<h3 id="media-title" class="title title--type-5 color-dark">Медіа-центр</h3>
				<div class="media-center__nav" role="tablist">
					<button class="link link--type-1 link--gray lt-14 is-active" role="tab" aria-controls="tab1-panel" id="tab-btn-l" aria-selected="true" data-tab="tab1">Статті</button>
					<button class="link link--type-1 link--gray lt-14" role="tab" aria-controls="tab1-pane2" id="tab-btn-2" aria-selected="false" data-tab="tab2">Кейси</button>
					<button class="link link--type-1 link--gray lt-14" role="tab" aria-controls="tab1-pane3" id="tab-btn-3" aria-selected="false" data-tab="tab3">Новини</button>
				</div>
			</div>
			<div class="media-center__body js-show-on-scroll"
				data-contents
				data-direction="bottom"
				data-y="50"
				data-off-animate="1280"
				data-duration="0.5"
			>
				<!-- tab1 -->
				<div class="media-center__item is-active is-visible" id="tab1-panel" role="tabpanel" data-content="tab1">
					<div class="media-center__list">
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini у відповіді ChatGPT, Perplexity та Gemini" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini у відповіді ChatGPT, Perplexity та Gemini
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
					</div>
				</div>
				<!-- tab2 -->
				<div class="media-center__item" id="tab1-pane2" role="tabpanel" data-content="tab2">
					<div class="media-center__list">
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic2.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic2.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic2.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini у відповіді ChatGPT, Perplexity та Gemini" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini у відповіді ChatGPT, Perplexity та Gemini
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
					</div>
				</div>
				<!-- tab3 -->
				<div class="media-center__item" id="tab1-pane3" role="tabpanel" data-content="tab3">
					<div class="media-center__list">
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic3.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic3.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
						<article class="blog-item" itemscope itemtype="https://schema.org/Article">
							<a href="#!" class="blog-item__pic" itemprop="url">
								<img src="images/empty.gif" data-src="images/pics/blog-pic3.webp" itemprop="image" alt="Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini у відповіді ChatGPT, Perplexity та Gemini" width="464" height="335" class="lazy">
							</a>
							<div class="blog-item__tags">
								<span class="tag tag--gray" itemprop="keywords">GEO</span>
								<span class="tag tag--gray" itemprop="keywords">SEO</span>
								<span class="tag tag--gray" itemprop="keywords">Google AI</span>
								<span class="tag tag--gray" itemprop="keywords">Тренди 2026</span>
							</div>
							<h4 class="blog-item__title" itemprop="headline">
								<a href="https://f47.agency/blog/geo-aeo-prosування" class="link link--type-4 link--dark lt-2">
									Замовити GEO/AEO-просування: як бренд потрапляє у відповіді ChatGPT, Perplexity та Gemini у відповіді ChatGPT, Perplexity та Gemini
								</a>
							</h4>
							<div class="name-block" itemprop="author" itemscope itemtype="https://schema.org/Person">
								<div class="name-block__pic">
									<img src="images/empty.gif" data-src="images/pics/man-mini.webp" alt="Микита Мороз" width="40" height="40" class="lazy">
								</div>
								<div class="name-block__body">
									<div class="simple-text simple-text--type-6 color-dark lh-15 lt-14 text-bolder" itemprop="name">Микита Мороз</div>
									<div class="simple-text simple-text--type-3 color-dark lh-15 lt-14" itemprop="jobTitle">CEO F-47</div>
								</div>
							</div>
							<time class="simple-text simple-text--type-3 color-dark-sec" itemprop="datePublished" datetime="2026-05-12">12.05.2026</time>
						</article>
					</div>
				</div>
			</div>
			<div class="flex-center js-show-on-scroll"
				data-start="top bottom"
				data-direction="bottom"
				data-y="50"
				data-off-animate="1280"
				data-duration="0.5"
			>
				<a href="#!" class="link link--type-3 link--dark lt-14">
					<span>Читати більше корисних матеріалів</span>
					<span class="link__icon">
						<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M16.3447 2.59467C16.6376 2.30178 17.1123 2.30178 17.4052 2.59467C17.6981 2.88756 17.6981 3.36232 17.4052 3.65522L11.1552 9.90522C10.8623 10.1981 10.3876 10.1981 10.0947 9.90522C9.80178 9.61232 9.80178 9.13756 10.0947 8.84467L16.3447 2.59467Z"></path>
							<path d="M16.125 8.125L16.124 3.875H11.875C11.4608 3.87494 11.125 3.53916 11.125 3.125C11.1251 2.71083 11.4608 2.375 11.875 2.375L16.874 2.37598C17.2881 2.37604 17.624 2.71185 17.624 3.12598L17.625 8.125C17.625 8.53916 17.2892 8.87494 16.875 8.875C16.4608 8.875 16.1251 8.53917 16.125 8.125Z"></path>
							<path d="M15.125 16.25C15.125 16.6147 14.9805 16.9648 14.7227 17.2227C14.4648 17.4805 14.1147 17.625 13.75 17.625H3.75C3.38533 17.625 3.03521 17.4805 2.77734 17.2227C2.51948 16.9648 2.375 16.6147 2.375 16.25V6.25C2.375 5.88533 2.51948 5.53521 2.77734 5.27734L2.87891 5.18652C3.12356 4.98611 3.43097 4.875 3.75 4.875H9.375C9.78921 4.875 10.125 5.21079 10.125 5.625C10.125 6.03921 9.78921 6.375 9.375 6.375H3.875V16.125H13.625V10.625C13.625 10.2108 13.9608 9.875 14.375 9.875C14.7892 9.875 15.125 10.2108 15.125 10.625V16.25Z"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>
