<section class="section section--price-section" aria-labelledby="price-title">
	<div class="container">
		<div class="price-section">
			<div class="price-section__top text-center">
				<h3 id="price-title" class="title title--type-5 color-dark">Ціноутворення</h3>
			</div>
			<div class="price-section__list">
				<div class="price-card">
					<div class="price-card__top">
						<h4 class="title title--type-3 color-dark text-ttu">СТАРТ</h4>
						<p class="simple-text simple-text--type-1 color-dark-sec lt-14">
							Базова перевіркка AI-видимості та перші кроки для просування
						</p>
						<div class="price-row">
							<div class="title title--type-8 color-dark text-ttu text-bolder lt-2">БЕЗКОШТОВНО</div>
<!--							<p class="simple-text simple-text&#45;&#45;type-1 color-dark-sec lt-14">/ місяць</p>-->
						</div>
					</div>
					<ul class="simple-ul">
						<li>Аудит AI-видимості бренду</li>
						<li>Перевірка відповідей Chat GPT та Perplexity</li>
						<li>Базова Prompt Map для вашої ніші</li>
						<li>Аудит технічної доступності сайту для AI</li>
						<li>Аналіз структури контенту та ключових сторінок</li>
						<li>Перевірка зовнішніх згадок бренду</li>
						<li>Список пріоритетних рекомендацій</li>
						<li>Roadmap перших кроків для GEO/AEO-просування</li>
						<li>30-хвилинна стратегічна консультація</li>
					</ul>
					<div class="price-card__bottom">
						<button type="button" class="btn btn--type-2 btn--light-bg" aria-label="Відкрити меню" aria-expanded="false" aria-controls="main-menu">
							<span class="btn__text">Отримати безкоштовно</span>
						</button>
						<p class="simple-text simple-text--type-3 color-dark-sec lt-14">
							Акційна пропозиція лише до 1.09.26
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
