<section class="section section--quality" aria-labelledby="quality-title">
	<div class="quality-top">
		<h2 id="quality-title" class="title title--type-5 color-dark text-center">
			<span class="js-go-away-on-scroll" data-off-animate="575" data-direction="left">
				Якість контенту,
				<img src="images/icons/text-pic3.svg" alt="" aria-hidden="true" width="56" height="56">
				оптимізований сайт
			</span>
			<span class="js-go-away-on-scroll" data-off-animate="575" data-direction="right">
				та ефективний зовнішній PR
				<img src="images/icons/text-pic4.svg" alt="" aria-hidden="true" width="56" height="56">
			</span>
		</h2>
	</div>
</section>
