<section class="section section--quality oh" aria-labelledby="quality-title">
	<div class="quality-top">
		<h2 id="quality-title" class="title title--type-5 color-dark text-center">
			<span class="js-go-away-on-scroll" data-off-animate="575" data-direction="left">
				Якість контенту,
				<img src="images/icons/text-pic3.svg" alt="" aria-hidden="true" width="56" height="56">
				оптимізований сайт
			</span>
			<span class="js-go-away-on-scroll" data-off-animate="575" data-direction="right">
				та ефективний зовнішній PR
				<img src="images/icons/text-pic4.svg" alt="" aria-hidden="true" width="56" height="56">
			</span>
		</h2>
	</div>

	<!-- біжуща строка -->
	<div class="running-string running-string--partners js-running-string" data-mob-speed="0.5" data-speed="0.5">
		<div class="running-string__body js-running-string-body">
			<div class="running-string__list">
				<div class="logo-pic">
					<img src="images/empty.gif" data-src="images/icons/partners/pr1.svg" alt="" width="137" height="29" class="lazy">
				</div>
				<div class="logo-pic">
					<img src="images/empty.gif" data-src="images/icons/partners/pr2.svg" alt="" width="173" height="29" class="lazy">
				</div>
				<div class="logo-pic">
					<img src="images/empty.gif" data-src="images/icons/partners/pr3.svg" alt="" width="50" height="41" class="lazy">
				</div>
				<div class="logo-pic">
					<img src="images/empty.gif" data-src="images/icons/partners/pr4.svg" alt="" width="87" height="41" class="lazy">
				</div>
			</div>
		</div>
	</div>
	<!-- біжуща строка -->
</section>
