<section class="section section--quality oh" aria-labelledby="quality-title">
	<div class="quality-block">
		<div class="quality-block__top">
			<h2 id="quality-title" class="title title--type-5 color-dark text-center">
			<span class="js-go-away-on-scroll" data-off-animate="575" data-direction="left">
				Якість контенту,
				<img src="images/icons/text-pic3.svg" alt="" aria-hidden="true" width="56" height="56">
				оптимізований сайт
			</span>
				<span class="js-go-away-on-scroll" data-off-animate="575" data-direction="right">
				та ефективний зовнішній PR
				<img src="images/icons/text-pic4.svg" alt="" aria-hidden="true" width="56" height="56">
			</span>
			</h2>
		</div>

		<!-- біжуща строка логотипів -->
		<div class="running-string running-string--partners">
			<div class="running-string__list js-running-string" data-speed="1.3" data-speed-mobile="0.8">
				<div class="running-string__group">
					<div class="running-string__item"><img src="images/icons/partners/pr1.svg" alt="" width="137" height="29" class="logo-pic"></div>
					<div class="running-string__item"><img src="images/icons/partners/pr2.svg" alt="" width="173" height="29" class="logo-pic"></div>
					<div class="running-string__item"><img src="images/icons/partners/pr3.svg" alt="" width="50" height="41" class="logo-pic"></div>
					<div class="running-string__item"><img src="images/icons/partners/pr4.svg" alt="" width="89" height="45" class="logo-pic"></div>
				</div>
			</div>
		</div>
		<!-- біжуща строка логотипів -->

		<!-- біжуща строка Наше портфоліо картки -->
		<div class="container">
			<div class="cards-block">
				<div class="card-item card-item--blue">
					<div class="card-item__body">
						<a href="www.binaryfuture.io" target="_blank" class="link link--type-2 link--gray-2">www.binaryfuture.io</a>
						<h3 class="title title--type-6 text-ttu text-bold color-white lt-2">B1NARY FUTURE</h3>
						<p class="simple-text simple-text--type-1 color-white text-medium lt-14">
							<span>+240% згадок</span> у ChatGPT та Perplexity як надійного Shopify-підрядника для закордонного B2B-ринку.
						</p>
						<div class="card-item__bottom card-item__bottom--type-1">
							<img src="images/pics/card/cr1-logo.svg" alt="" width="148" height="30" class="logo-pic">

							<img src="images/pics/card/cr1.webp" alt="" width="159" height="153" class="card-item__pic">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- біжуща строка наше портфоліо картки -->
	</div>
</section>
