<section class="section section--step-form" aria-labelledby="step-title">
	<div class="container">
		<div class="step-form">
			<div class="step-form__left">
				<div class="step-form__title"
					data-direction="bottom"
					data-y="50"
					data-off-animate="1280"
					data-duration="0.5"
				>
					<h3 id="price-title" class="title title--type-9 color-dark">
						Зробіть перший крок до того,
						<span class="text-bolder">щоб AI рекомендував ваш бренд</span>
					</h3>
				</div>
			</div>
		</div>
	</div>
</section>
