@import "../abstracts/functions";
@import "../abstracts/vars";

.footer {

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: get-rem(24);
		padding: get-rem(57) get-rem(56);
		background-image: linear-gradient(225deg, #1ef4b4, #c4b4fd);
		border-radius: get-rem(40);
	}

	&__left {

		.logo {
			margin: 0 0 get-rem(8);
		}

		.simple-text {
			max-width: get-rem(136);
			margin: 0 0 get-rem(27);
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: get-rem(20);

		&--spacer {
			padding: get-rem(32) 0 0;
		}

		> .simple-text {
			margin: 0 0 get-rem(-5);
		}

		&:has(.link__icon:not(.link__icon--small)) {
			gap: get-rem(12);

			> .simple-text {
				margin: 0 0 ;
			}
		}

		&:has(.link__icon--small) {
			gap: get-rem(17);
		}

		&:nth-child(3) {
			margin: 0 get-rem(10) 0 0;
		}
	}

	&__right {
		display: flex;
		align-items: flex-start;
		gap: get-rem(60);
		margin: 0 get-rem(11) 0 0;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: get-rem(16);
		padding: get-rem(22) get-rem(80);
	}

	&__links {
		display: flex;
		align-items: center;
		gap: clamp(#{get-rem(12)}, #{get-vw(29)}, #{get-rem(29)});
	}

	&__pics {
		display: flex;
		align-items: center;
		gap: get-rem(14);

		img {
			width: auto;
			height: auto;
			max-width: get-rem(250);
		}
	}
}

.locale-block {
	display: flex;
	align-items: center;
	gap: get-rem(8.5);
	font: 600 #{get-rem(14)}/1 $mainFontBold;
	letter-spacing: -0.014em;
}

.copy-footer {
	display: flex;
	align-items: center;
	gap: get-rem(8);
	font: 500 #{get-rem(12)}/1 $mainFont;
	color: var(--color-dark);
	letter-spacing: -0.014em;

	&__dot {
		opacity: 0.2;
	}
}
