@import "../abstracts/functions";
@import "../abstracts/vars";

.header {
	width: 100%;
	padding: clamp(#{get-rem(12)}, 3vw, #{get-rem(24)}) 0;
	background-color: rgba(#f5f5f0, 0.99);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 24;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: get-rem(1);
		background-color: var(--color-dark);
		transition: opacity 0.15s ease-in;

		@media(min-width: 992px) {
			opacity: 0;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: get-rem(10);
		align-items: center;

		@media(min-width: 992px) {
			display: flex;
			gap: 0;
		}
	}

	.soc-list {
		margin: 0 get-rem(12) 0 0;
	}


	&__mid {
		display: flex;
		align-items: center;
		gap: get-rem(32);

		@media(max-width: 991px) {
			position: fixed;
			top: var(--header-h);
			left: 0;
			width: 100%;
			height: calc(100% - var(--header-h));
			z-index: 1;
			background-color: var(--color-bg);
			padding: get-rem(9) get-rem(16) 0;
			gap: get-rem(9);
			flex-direction: column;
			align-items: initial;
			overflow: auto;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: opacity 0.15s ease-in, visibility 0.15s ease-in;

			&.show {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}

			.soc-list {
				width: 100%;
				margin: 0;
				justify-content: center;
				padding: get-rem(20) get-rem(16);
				background-color: var(--color-bg);
				position: sticky;
				bottom: 0;
				z-index: 2;

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					z-index: 1;
					width: calc(100% + #{get-rem(32)});
					height: get-rem(1);
					background-color: var(--color-blue);
				}
			}
		}
	}

	@media(min-width: 992px) {
		.icon-btn--burger {
			display: none;
		}
	}

	&.onscroll {

		@media(min-width: 992px) {
			&::after {
				opacity: 1;
			}
		}
	}
}

.main-menu {

	&__list {
		display: flex;
		align-items: center;
		gap: get-rem(25);

		@media(max-width: 991px) {
			flex-direction: column;
			gap: 0;

			.link {
				font-size: get-rem(20);
				padding: get-rem(16) 0;

				&.is-active {
					color: var(--color-blue);
				}
			}
		}
	}
}

.soc-list {
	display: flex;
	align-items: center;
	gap: get-rem(12);
}


.logo {
	display: block;
	width: 100%;
	margin: 0 auto;

	@media(min-width: 992px) {
		margin: 0 auto 0 0;
	}

	&--header {
		max-width: get-rem(90);
	}

	&--footer {
		max-width: get-rem(112);
	}

	img {
		width: 100%;
		height: auto;
	}
}
