@import "../abstracts/functions";
@import "../abstracts/vars";

.blog-top {

	&__tags {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: get-rem(6);
		margin: 0 0 get-rem(-6);

		@media(min-width: 992px) {
			gap: get-rem(8);
			margin: 0 0 get-rem(-12);
		}
	}
}

.inf-item {

	&__top {
		font: 500 #{get-rem(12)}/1 $mainFontGilroy;
		letter-spacing: -0.014em;
	}
}

.icon-text {
	display: flex;
	align-items: center;
	gap: 6px;

	img, svg {
		width: get-rem(16);
		height: get-rem(16);
	}

	span {
		font: 500 #{get-rem(12)}/1 $mainFontGilroy;
		letter-spacing: -0.014em;
	}
}
