@import "../abstracts/functions";
@import "../abstracts/vars";

.faq-block {
	display: flex;
	align-items: flex-start;
	gap: clamp(#{get-rem(24)}, #{get-vw(58)}, #{get-rem(58)});

	&__left {
		width: get-rem(400);
		flex-shrink: 0;
	}

	.faq-list {
		padding: clamp(#{get-rem(32)}, #{get-vw(66)}, #{get-rem(66)}) 0 0;
	}

}

.faq-list {
	display: flex;
	flex-direction: column;
	gap: get-rem(24);
	width: 100%;
}

.faq-item {
	border-radius: get-rem(20);
	background-color: var(--color-light);
	color: var(--color-dark-th);
	transition: background-color 0.15s ease-in;

	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		gap: get-rem(10);
		padding: get-rem(18) get-rem(16);
		min-height: get-rem(68);
		transition: margin 0.15s ease-in;

		@media(min-width: 767px) {
			min-height: get-rem(84);
			padding: get-rem(18) get-rem(35) get-rem(18) get-rem(24);
		}

		.simple-text {
			transition: color 0.15s ease-in, transform 0.15s ease-in;
		}

	}

	&__hidden {
		max-height: 0;
		overflow: hidden;

		.simple-text {
			padding: 0 get-rem(24) get-rem(24) get-rem(24);
			max-width: get-rem(900);
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: get-rem(15);
		height: get-rem(15);
		flex-shrink: 0;
		transition: color 0.15s ease-in, transform 0.15s ease-in;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&.active {
		background-color: #242b3a;

		.simple-text {
			color: var(--color-white);
		}

		.faq-item__btn {
			margin: 0 0 get-rem(-11);
		}

		.faq-item__icon {
			color: var(--color-white);

			path:nth-child(2) {
				opacity: 0;
			}
		}
	}

	.desktop-device & {

	    &:hover {
		    background-color: #242b3a;

		    .simple-text {
			    color: var(--color-white);
		    }

		    .faq-item__icon {
			    color: var(--color-white);
		    }
	    }
	}
}
