@import "../abstracts/functions";
@import "../abstracts/vars";

.hero-block {

	&__top {
		margin: clamp(#{get-rem(40)}, #{get-vw(139)}, #{get-rem(139)}) 0;

		.title--type-1 {
			max-width: get-rem(1080);
			margin: 0 auto clamp(#{get-rem(20)}, #{get-vw(53)}, #{get-rem(53)});

		}

		.simple-text {
			max-width: get-rem(595);
			margin: 0 auto;
		}
	}

	&__boards {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		gap: get-rem(20);
		margin: get-rem(-9) 0 0;

		@media(min-width: 992px) {
			gap: get-rem(32);
		}

		.form-board {
			width: 100%;

			@media(min-width: 768px) {
				max-width: get-rem(500);
				width: calc(50% - #{get-rem(20)});
			}

			@media(min-width: 992px) {
				width: calc(50% - #{get-rem(20)});
			}


			@media(max-width: 767px) {
				&:first-child {
					position: relative;
					z-index: 2;
				}

				&:nth-child(2) {
					position: sticky;
					bottom: 0;
				}
			}
		}
	}
}
