@import "../abstracts/functions";
@import "../abstracts/vars";

.hero-block {

	&__top {
		margin: clamp(#{get-rem(40)}, #{get-vw(139)}, #{get-rem(139)}) 0;
	}

	&__boards {
		display: flex;
		justify-content: center;
		gap: get-rem(32);

		.form-board {
			max-width: get-rem(500);
		}
	}

	.title--type-1 {
		max-width: get-rem(1080);
		margin: 0 auto clamp(#{get-rem(20)}, #{get-vw(53)}, #{get-rem(53)});

	}

	.simple-text {
		max-width: get-rem(595);
		margin: 0 auto;
	}
}
