@import "../abstracts/functions";
@import "../abstracts/vars";

.hero-block {

	&__top {
		margin: get-rem(139) 0 0;
	}

	.title--type-1 {
		max-width: get-rem(1080);
		margin: 0 auto get-rem(53);
	}

	.simple-text {
		max-width: get-rem(595);
		margin: 0 auto;
	}
}
