@import "../abstracts/functions";
@import "../abstracts/vars";

.media-center {

	&__body {
		margin: 0 0 clamp(#{get-rem(24)}, #{get-vw(50)}, #{get-rem(50)});
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: clamp(#{get-rem(22)}, #{get-vw(33)}, #{get-rem(33)});
		margin: 0 0 clamp(#{get-rem(32)}, #{get-vw(68)}, #{get-rem(68)});
	}

	&__nav {
		display: flex;
		justify-content: center;
		gap: get-rem(12);
	}

	&__list {
		width: calc(100% + #{get-rem(32)});
		margin: 0 0 0 get-rem(-16);
		padding: 0 get-rem(16) get-rem(8) get-rem(16);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: get-rem(16);
		overflow: auto;

		@media(min-width: 992px) {
			width: 100%;
			margin: 0;
			padding: 0;
			gap: get-rem(25);
		}

		.blog-item {
			min-width: get-rem(292);
		}
	}

	&__item {
		display: none;
		opacity: 0.5;
		transition: opacity 0.3s ease-in, transform 0.3s ease-in;

		&.is-active {
			display: block;
		}

		&.is-visible {
			opacity: 1;
		}
	}
}

.tag {
	display: flex;
	justify-content: center;
	align-items: center;
	height: get-rem(24);
	border-radius: get-rem(100);
	padding: 0 get-rem(8.5) get-rem(2);
	flex-shrink: 0;

	&--gray {
		font: 500 #{get-rem(12)}/1 $mainFontGilroy;
		letter-spacing: -0.014em;
		color: var(--color-white);
		background-color: rgba(#242b3a, 0.8);

		@media(min-width: 1200px) {
		    font-size: get-rem(14);
		}
	}
}

.blog-item {
	display: flex;
	flex-direction: column;
	gap: clamp(#{get-rem(16)}, #{get-vw(32)}, #{get-rem(32)});
	padding: 0 0 clamp(#{get-rem(22)}, #{get-vw(32)}, #{get-rem(32)});
	background-color: var(--color-light);
	border-radius: get-rem(20);
	overflow: hidden;

	> *:not(.blog-item__pic) {
		padding: 0 clamp(#{get-rem(14)}, #{get-vw(30)}, #{get-rem(30)});
	}

	.link {
		padding-right: get-rem(24);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__pic {
		display: block;
		aspect-ratio: 464/335;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.15s ease-in;
			transform-origin: top center;
		}

		&:hover img {
			transform: scale(1.02);
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: get-rem(6);
		margin: 0 0 get-rem(-6);

		@media(min-width: 992px) {
			gap: get-rem(8);
			margin: 0 0 get-rem(-12);
		}
	}

	.name-block {
		margin: auto 0 0;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: get-rem(7);

		@media(min-width: 992px) {
			padding: 0 get-rem(9) 0 0;
		}

		@media(max-width: 1199px) {
		    flex-direction: row;
			flex-wrap: wrap;
			gap: get-rem(10);
		}

	}

	&__bottom {
		width: 100%;
		display: flex;
		align-items: flex-start;
		gap: get-rem(16);
		justify-content: space-between;
		margin: auto 0 0;

		@media(max-width: 1199px) {
		    flex-direction: column;
		}

		.name-block {
			margin: 0;
		}
	}

	&--type-2 {
		.blog-item__title {
			margin: 0 0 get-rem(-5);
		}
	}

	&--type-3 {
		padding-top: clamp(#{get-rem(16)}, #{get-vw(32)}, #{get-rem(32)});

		.blog-item__title {
			margin: 0 0 get-rem(-5);
		}
	}
}

.name-block {

	&:has(.name-block__pic) {
		display: flex;
		align-items: center;
		gap: get-rem(12);
	}

	&__pic {
		width: get-rem(40);
		height: get-rem(40);
		border-radius: 100%;
		overflow: hidden;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&--sec {

		.name-block__pic {
			width: get-rem(36);
			height: get-rem(36);
		}
	}

	&--th {

		.name-block__pic {
			border-radius: get-rem(8);
			width: get-rem(64);
			height: get-rem(64);
		}
	}
}
