@import "../abstracts/functions";
@import "../abstracts/vars";

.media-center {

	&__top {
		display: flex;
		flex-direction: column;
		gap: get-rem(33);
	}

	&__nav {
		display: flex;
		justify-content: center;
		gap: get-rem(12);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
}
