@import "../abstracts/functions";
@import "../abstracts/vars";

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.8);
	z-index: 100;
	display: flex;
	justify-content: center;
	overflow: auto;
	padding: get-rem(60) 0;
}

.modal__container {
	//max-height: 92vh;
	//overflow-y: auto;
	box-sizing: border-box;
	margin: auto;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.modal__btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.modal__btn-primary {
	background-color: #00449e;
	color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes mmslideIn {
	from { transform: translateY(15%); }
	to { transform: translateY(0); }
}

@keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

.black-top {
	width: 100%;
	background-color: var(--color-dark-main);
	display: flex;
	align-items: center;
	padding: get-rem(18) get-rem(18);
	gap: get-rem(26);
	position: sticky;
	top: get-rem(-1);
	z-index: 2;

	@media(min-width: 1200px) {
		padding: get-rem(18) get-rem(30);
	}

	&__icon {
		width: get-rem(14);
		height: get-rem(14);

		img {
			width: 100%;
			height: 100%;
		}
	}

	.title {
		transform: translateY(1px);
	}

	.close-btn {
		margin-left: auto;
	}
}

.popup-block {
	width: calc(100% - #{get-rem(32)});
	pointer-events: all;
	max-width: get-rem(790);
	background-color: var(--color-white);
	position: relative;


	.close-btn {
		position: absolute;
		top: get-rem(-20);
		right: get-rem(-12);
		z-index: 1;
		transform: translate(-50%, -50%);

		@media(min-width: 768px) {
			top: get-rem(-12);
			right: get-rem(-37);
		}
	}

	&__body {

	}


	&--type-1 {
		max-width: get-rem(606);
		border-radius: get-rem(15);
		padding: get-rem(24) get-rem(10) get-rem(12);

		@media(min-width: 640px) {
			padding: get-rem(24) get-rem(27);
		}
	}


	&--type-2 {
		max-width: get-rem(520);
		border-radius: get-rem(15);
		padding: get-rem(24) get-rem(10) get-rem(12);

		@media(min-width: 640px) {
			padding: get-rem(24) get-rem(27);
		}
	}

}

.cart-block {

	@media(min-width: 640px) {
		padding: 0 0 get-rem(30);
	}

	&__top {
		display: flex;
		justify-content: center;
		text-align: center;
		margin: get-rem(11) 0 get-rem(28);

		@media(min-width: 640px) {
			margin: get-rem(28) 0 get-rem(26);
		}
	}

	&__list {
		width: 100%;
		overflow: auto;
		max-height: get-rem(367);
		position: relative;

		@media(min-width: 640px) {
			max-width: get-rem(530);
			max-height: get-rem(383);
			padding: 0 get-rem(37) 0 0;
		}

		.mini-card {

			&:first-child {
				border-top: get-rem(1) solid var(--color-gray-sec);
			}

			+ .mini-card {
				margin: get-rem(5) 0 0;
			}
		}

		&::-webkit-scrollbar-track
		{
			background-color: var(--color-gray-sec);
			border-radius: get-rem(20);
			width: get-rem(1);
			height: get-rem(1);
		}

		&::-webkit-scrollbar
		{
			width: get-rem(4);
			height: get-rem(4);
			background-color: transparent;
			border-radius: get-rem(20);
		}

		&::-webkit-scrollbar-thumb
		{
			width: get-rem(4);
			background-color: var(--color-dark-main);
			border-radius: get-rem(20);
		}

	}

	.total-block {
		margin: get-rem(7) 0 0;
		gap: get-rem(22);

		@media(max-width: 639px) {
			margin: get-rem(22) 0 0;
			gap: get-rem(14);

			.title {
				font-size: get-rem(14);
			}
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: 1fr;
		margin: get-rem(30) 0 0;

		@media(min-width: 575px) {
			grid-template-columns: repeat(2, 1fr);
			padding: 0 get-rem(25) 0 0;
			margin: get-rem(40) 0 0;
		}

		@media(max-width: 639px) {

			.button {
				min-height: get-rem(62);

				&:last-child {
					font-size: get-rem(14);
				}
			}
		}
	}
}

.login-block {
	margin: get-rem(11) auto 0;
	max-width: get-rem(412);

	@media(min-width: 768px) {
		margin: get-rem(27) auto 0;
	}

	&__top {
		text-align: center;
	}

	.default-form {
		margin: get-rem(27) auto 0;

		.input-item + .input-item {
			margin: get-rem(13) 0 0;
		}

		.button {
			width: 100%;
		}

		.simple-checker {
			margin: get-rem(24) 0 0;

			&__body {
				gap: get-rem(12);
			}
		}
	}
}

.login-bottom {
	margin: get-rem(29) 0 0;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		min-height: get-rem(120);
		gap: get-rem(10);
		padding: get-rem(16) 0;
		border-top: get-rem(1) solid var(--color-gray-sec);
		border-bottom: get-rem(1) solid var(--color-gray-sec);

		.simple-text {
			flex-shrink: 0;
		}

		.button {
			flex: 1;

			@media(max-width: 479px) {
				width: 100%;
			}
		}

		@media(min-width: 480px) {
		    flex-direction: row;
			gap: get-rem(16);
		}
	}

	&__bottom {
		display: flex;
		justify-content: center;
		gap: get-rem(5);
		align-items: center;
		margin: get-rem(33) 0 get-rem(27);
	}
}
