@import "../abstracts/functions";
@import "../abstracts/vars";

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, 0.7);
	z-index: 100;
	display: flex;
	justify-content: center;
	overflow: auto;
	padding: get-rem(60) 0;
}

.modal__container {
	//max-height: 92vh;
	//overflow-y: auto;
	box-sizing: border-box;
	margin: 0 auto;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.modal__btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.modal__btn-primary {
	background-color: #00449e;
	color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes mmslideIn {
	from { transform: translateY(15%); }
	to { transform: translateY(0); }
}

@keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

.black-top {
	width: 100%;
	background-color: var(--color-dark-main);
	display: flex;
	align-items: center;
	padding: get-rem(18) get-rem(18);
	gap: get-rem(26);
	position: sticky;
	top: get-rem(-1);
	z-index: 2;

	@media(min-width: 1200px) {
		padding: get-rem(18) get-rem(30);
	}

	&__icon {
		width: get-rem(14);
		height: get-rem(14);

		img {
			width: 100%;
			height: 100%;
		}
	}

	.title {
		transform: translateY(1px);
	}

	.close-btn {
		margin-left: auto;
	}
}

.popup-block {
	width: calc(100% - #{get-rem(32)});
	pointer-events: all;
	max-width: get-rem(790);
	position: relative;


	.close-btn {
		position: absolute;
		top: get-rem(-20);
		right: get-rem(-12);
		z-index: 1;
		transform: translate(-50%, -50%);

		@media(min-width: 768px) {
			top: get-rem(-12);
			right: get-rem(-37);
		}
	}

	&__body {

	}

	&--type-1 {
		max-width: get-rem(780);

		.close-btn {
			position: absolute;
			top: get-rem(32);
			right: get-rem(10);
			z-index: 1;
			transform: translate(-50%, -50%);
		}

		.form-board--type-2 {
			border-radius: get-rem(30);

			@media(max-width: 767px) {
				padding: 0;
			}

			.form-board__body {
				border-radius: get-rem(30);

				@media(max-width: 767px) {
					padding: get-rem(32) get-rem(16);
				}
			}

			.form-board__top {
				margin: get-rem(-8) 0 clamp(#{get-rem(20)}, #{get-vw(47)}, #{get-rem(47)});
				gap: get-rem(9);
			}
		}
	}

	&--type-2 {
		max-width: get-rem(500);

		.form-board--type-1 {
			padding: 0;
		}
	}

}


.close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: get-rem(20);
	height: get-rem(20);
	color: var(--color-dark-th);
	position: relative;
	transition: color 0.15s ease-in;

	&::after {
		content: '';
		width: 200%;
		height: 200%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
	}

	svg {
		width: 100%;
		height: 100%;
	}

	.desktop-device & {
		&:hover {
			color: var(--color-blue);
		}
	}


}
