@import "../abstracts/functions";
@import "../abstracts/vars";

.price-section {

	&__top {
		margin: 0 0 get-rem(71);
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 get-rem(71);
	}

	&__bottom {
		max-width: get-rem(480);
		margin: get-rem(58) auto 0;
	}
}

.price-row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: get-rem(25) 0;
	position: relative;
	width: 100%;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: get-rem(1);
		background-image: linear-gradient(to right, rgba(#131313, 0), rgba(#131313, 0.1), rgba(#131313, 0));
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: get-rem(1);
		background-image: linear-gradient(to right, rgba(#131313, 0), rgba(#131313, 0.1), rgba(#131313, 0));
	}
}

.simple-ul {

	display: flex;
	flex-direction: column;
	gap: get-rem(10.8);

	li {
		position: relative;
		font: 400 #{get-rem(14)}/1.35 $mainFont;
		letter-spacing: -0.014em;
		padding: 0 0 0 get-rem(15);
		word-break: break-word;


		@media(min-width: 1200px) {
			font-size: get-rem(16);
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: get-rem(10);
			left: 0;
			z-index: 1;
			width: get-rem(4);
			height: get-rem(4);
			background-color: var(--color-dark-th);
			border-radius: 100%;
		}
	}
}

.price-card {
	max-width: get-rem(437);

	&__body {
		padding: get-rem(54) get-rem(20);
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0 0 40px;

		> .title {
			margin: 0 0 get-rem(11);
		}

		> .simple-text {
			max-width: get-rem(277);
			margin: 0 auto get-rem(28);
		}
	}

	.simple-ul {
		padding: 0 get-rem(14) 0 get-rem(22);
	}

	&__bottom {
		width: 100%;
		max-width: get-rem(293);
		margin: get-rem(40) auto 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: get-rem(12);
	}

	&__list {
		> .simple-text {
			margin: get-rem(-9) 0 get-rem(23) get-rem(14);
		}
	}

	&--type-2 {
		border: get-rem(7) solid var(--color-white);
		padding: get-rem(7);
		background-color: var(--color-light);
		border-radius: get-rem(30);
		min-width: get-rem(451);

		.price-card {

			&__body {
				padding: get-rem(42) get-rem(20);
			}
		}
	}
}
