@import "../abstracts/functions";
@import "../abstracts/vars";

.price-section {

	&__top {
		margin: 0 0 get-rem(71);
	}

	&__list {
		display: grid;
		grid-template-columns: 0.95fr 1fr 0.95fr;
		padding: 0 get-rem(71);
	}
}

.price-row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 20px 0;
	position: relative;
	width: 100%;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: get-rem(1);
		background-image: linear-gradient(to right, rgba(#131313, 0), rgba(#131313, 0.1), rgba(#131313, 0));
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: get-rem(1);
		background-image: linear-gradient(to right, rgba(#131313, 0), rgba(#131313, 0.1), rgba(#131313, 0));
	}
}

.price-card {
	max-width: get-rem(437);

	&__body {
		padding: 54px 60px;
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		> .title {
			margin: 0 0 get-rem(11);
		}

		> .simple-text {
			max-width: get-rem(277);
			margin: 0 auto 36px;
		}
	}

	.price-row {
		margin: 0 0 40px;
	}

	&--type-2 {
		border: get-rem(7) solid var(--color-white);
		padding: get-rem(7);
		background-color: var(--color-light);
		border-radius: get-rem(30);

		.price-card {

			&__body {
				padding: get-rem(40) 60px;
			}
		}
	}
}
