@import "../abstracts/functions";
@import "../abstracts/vars";

.quality-block {

	&__top {
		max-width: get-rem(1332);
		padding: 0 get-rem(16);
		margin: 0 auto get-rem(47);

		@media(min-width: 992px) {
			margin: 0 auto get-rem(67);
		}

		span {

			@media(min-width: 768px) {
				display: block;
			}
		}
	}

	.running-string {

		&--partners {
			margin: 0 0 80px;
		}
	}
}


.running-string {
	overflow: hidden;
	transform: rotate(-1deg);
	padding: get-rem(15) 0;

	@media(min-width: 768px) {
		padding: get-rem(30) 0;
	}

	&__list {
		display: flex;
		width: max-content;
		will-change: transform;
	}

	&__item {
		flex: 0 0 auto;
		margin-right: 50px;
	}

}


.logo-pic {
	width: auto;
	height: auto;
}
