@import "../abstracts/functions";
@import "../abstracts/vars";

.quality-block {

	&__top {
		max-width: get-rem(1332);
		padding: 0 get-rem(16);
		margin: 0 auto get-rem(47);

		@media(min-width: 992px) {
			margin: 0 auto get-rem(67);
		}

		span {

			@media(min-width: 768px) {
				display: block;
			}
		}
	}

	.running-string {

		&--partners {
			margin: 0 0 80px;
		}
	}

	.cards-block {
		margin: 0 0 80px;
	}
}

.running-string {
	overflow: hidden;
	transform: rotate(-1deg);

	&__list {
		display: flex;
		width: max-content;
		will-change: transform;
	}

	&__group {
		display: flex;
		flex-shrink: 0;
		gap: get-rem(50);

		@media(min-width: 1200px){
			gap: get-rem(100);
		}

		+ .running-string__group {
			margin-left: get-rem(50);

			@media(min-width: 1200px){
				margin-left: get-rem(100);
			}
		}
	}

	&__item {
		flex: 0 0 auto;
	}
}

.logo-pic {
	width: auto;
	height: auto;
}


.cards-block {
	transform: rotate(-2deg);
	display: flex;
}

.card-item {
	width: get-rem(408);
	padding: get-rem(7);
	border-radius: get-rem(24);

	&__body {
		border-radius: get-rem(24);
		padding: get-rem(24);
	}

	&--blue {
		background-color: #05a5ff;
	}
}
